@import './base.css';

/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

/* 分页组件样式 */
.el-pagination {
  --el-pagination-font-size: 14px;
  --el-pagination-button-color: #606266;
  --el-pagination-button-disabled-color: #c0c4cc;
  --el-pagination-button-disabled-bg-color: #fff;
  --el-pagination-hover-color: var(--el-color-primary);
}

.el-pagination .el-pagination__total {
  margin-right: 16px;
}

.el-pagination .btn-prev .el-icon,
.el-pagination .btn-next .el-icon {
  font-size: 12px;
}

.el-pagination .el-pagination__jump {
  margin-left: 16px;
}
